<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated architecture -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.e4sm.tuilmenau.sse.architecture.model.architecture.presentation.ArchitectureModelWizardID"
            name="%_UI_ArchitectureModelWizard_label"
            class="de.e4sm.tuilmenau.sse.architecture.model.architecture.presentation.ArchitectureModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ArchitectureModelFile.gif">
         <description>%_UI_ArchitectureModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated architecture -->
      <editor
            id="de.e4sm.tuilmenau.sse.architecture.model.architecture.presentation.ArchitectureEditorID"
            name="%_UI_ArchitectureEditor_label"
            icon="icons/full/obj16/ArchitectureModelFile.gif"
            extensions="architecture"
            class="de.e4sm.tuilmenau.sse.architecture.model.architecture.presentation.ArchitectureEditor"
            contributorClass="de.e4sm.tuilmenau.sse.architecture.model.architecture.presentation.ArchitectureActionBarContributor">
      </editor>
   </extension>

</plugin>
