<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated architecture -->
      <package
            uri="http://e4sm-projekt.de/ecore/ar"
            class="de.e4sm.tuilmenau.sse.architecture.model.architecture.ArchitecturePackage"
            genModel="model/architecture.genmodel"/>
   </extension>

</plugin>
